<h1>Editing phone</h1>

<%= error_messages_for :phone %>

<% form_for(@phone) do |f| %>
  <p>
    <b>Code person</b><br />
    <%= f.text_field :code_person %>
  </p>

  <p>
    <b>Phone number</b><br />
    <%= f.text_field :phone_number %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @phone %> |
<%= link_to 'Back', phones_path %>
