<h1>Listing employees</h1>
<DIV ALIGN=CENTER>
<table>
  <tr>
    <th>Emp code</th>
    <th>Emp ID</th>
    <th>Emp name</th>
    <th>Emp surname</th>
    <th>Emp state</th>
    <th>Start date</th>
    <th>Home address</th>
  </tr>

<% for employee in @employees %>
  <tr>
    <td><%=h employee.emp_code %></td>
    <td><%=h employee.emp_id %></td>
    <td><%=h employee.emp_name %></td>
    <td><%=h employee.emp_surname %></td>
    <td><%=h employee.emp_state %></td>
    <td><%=h employee.start_date %></td>
    <td><%=h employee.home_address %></td>
    <td><%= link_to 'Show', employee %></td>
        <td><%= link_to "Registered Rents" , :controller => 'rents', :action => 'rentedemp', :emp_code => employee.emp_code %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

|  <%= link_to "Back to Main" , :controller => 'login', :action => 'index' %> | <%= link_to 'New employee', new_employee_path %> |</DIV>
