<h1>New movie</h1>
<DIV ALIGN=CENTER>
<%= javascript_include_tag "prototype" %>
<%= error_messages_for :movie %>

<% form_for(@movie) do |f| %>
  <p>
    <b>Movie code</b><br />
    <%= f.text_field :movie_code%>
  </p>

  <p>
    <b>Movie title</b><br />
    <%= f.text_field :movie_title %>
  </p>

  <p>
    <b>Movie original title</b><br />
    <%= f.text_field :movie_original_title %>
  </p>

  <p>
    <b>Movie year</b><br />
    <%= f.text_field :movie_year %>
  </p>

  <p>
    <b>Movie director</b><br />
    <%= f.text_field :movie_director %>
  </p>

  <p>
    <b>Genre</b><br />
    <%= f.text_field :genre %>
  </p>

  <p>
    <b>Country</b><br />
    <%= f.text_field :country %>
  </p>

  <p>
    <b>Place in store</b><br />
    <%= f.text_field :place_in_store %>
  </p>

  <p>
    <b>Category</b><br />
	<%=f.collection_select :category_code,Category.find(:all),:category_code,:category_name %>
	
	
   </p>

   <p>
    <b>Available</b><br />
    <%= f.check_box :available, :checked => true%>
  </p>

    
  <p>
    <%= f.submit "Create" %>
   
  </p>
<% end %>

<%= link_to 'Back', movies_path %></DIV>
