<DIV ALIGN=CENTER>
<p>
  <b>Rent code:</b>
  <%=h @rent.rent_code %>
</p>

<p>
  <b>Movie code:</b>
  <%=h @rent.movie_code %>
   <%=  @movie%>
</p>

<p>
  <b>Client code:</b>
  <%=h @rent.client_code %>
    <%=h @client%>
</p>

<p>
  <b>Emp code:</b>
  <%=h @rent.emp_code %>
    <%=h @emp%>
</p>

<p>
  <b>Rent date:</b>
  <%=h @rent.rent_date %>
</p>

<p>
  <b>Exp date:</b>
  <%=h @rent.exp_date %>
</p>

<p>
  <b>Alive:</b>
  <%=h @rent.alive %>
</p>


<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %></DIV>
