<h1>Listing returns</h1>
<DIV ALIGN=CENTER>
<table>
  <tr>
    <th>Rent code</th>
    <th>Return date</th>
    <th>Charges</th>
  </tr>

<% for r_eturn in @returns %>
  <tr>
    <td><%=h r_eturn.rent_code %></td>
    <td><%=h r_eturn.return_date %></td>
    <td><%=h r_eturn.charges %></td>
    <td><%= link_to 'Show', r_eturn %></td>
    <td><%= link_to 'Edit', edit_return_path(r_eturn) %></td>
    <td><%= link_to 'Destroy', r_eturn, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
|  <%= link_to "Back to Main" , :controller => 'login', :action => 'index' %> | <%= link_to 'New return', new_return_path %> | <%= link_to "Rents" , :controller => 'rents', :action => 'index' %> |
</DIV>
