<h1>New return</h1>
<DIV ALIGN=CENTER>
<%= error_messages_for :return %>

<% form_for(@return) do |f| %>
  <p>
    <b>Rent code</b><br />
    <%=f.collection_select :rent_code,Rent.find(:all),:rent_code,:rent_code %>
  </p>

  <p>
    <b>Return date</b><br />
    <%= f.date_select :return_date %>
  </p>

  <p>
    <b>Charges</b><br />
    <%= f.text_field :charges %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', returns_path %></DIV>
