<h1>Login#add_user</h1>
<DIV ALIGN=CENTER>

<div class="depot-form">
  <%= error_messages_for 'user' %>
  <fieldset>
    <legend>Enter User Details</legend>
    <% form_for :user do |form| %>
       <p>
         <label for="user_name">Username:</label></p>
       <p>
         <%= form.text_field :name, :size => 40 %>
       </p>
       <p>
         <label for="user_password">password:</label></p>
       <p>
         <%= form.password_field :password, :size => 40 %>
       </p>
       <p>
         <label for="user_password_confirmation">Re-enter password:</label></p>
       <p>
         <%= form.password_field :password_confirmation, :size => 40 %>
       </p>
       <%= submit_tag "Add User" , :class => "submit" %>  
    <% end %>
  </fieldset>
  
</div> 
|  <%= link_to "Back" , :controller => 'login', :action => 'index' %> |
</DIV>

